header{
    background-color: black;
}

.btn{
    border-radius: 3rem;
	
}



.btn_black{
    background-color: black;
    color: white;
    border: 3px solid white;
	overflow: hidden;
}


.btn_black:hover {
    box-shadow: 0 0 0 2px black;
    background-color: black;
    color: white;
    outline: none;
}

.search{
    font-size: 25px;
    color: black;
}

#priority{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 700px;
}

.btn_red{
    background-color: #cd3d0f;
    color: white;
    border: 3px solid transparent;
	overflow: hidden;
}

.btn_red:hover{
    border: 3px solid blue;
    background-color: #cd3d0f;
    color: white;
}

.btn_blue{
    background-color: #2d64e6;
    color: white;
}
.returnal-logo{
    width: 400px;
}

.card_game {
	padding: 3px;
	border: 3px solid transparent;
	border-radius: 1rem;
	overflow: hidden;
	transition: transform .6s;
}

.card_game.active {
	border: 3px solid #2d64e6;
}

.card_game:hover {
	border: 3px solid #2d64e6;
	transform: translateY(-20px);
	cursor: pointer;
}

.card_game img {
	border-radius: calc(1rem - 6px);
}

.text-blue{
    color: #3890d9;
}

.section-title{
    font-size: 50px;
    letter-spacing: 3px;
    margin: 1.5rem 0;
}

.section-subtitle{
    font-size: 25px;
}
.product-card{
    position: relative;
}

.product-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.product-card:hover::after{
    display: none;
}

.active{
    border-bottom: 4px solid #2d64e6;
}

#suggested{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
}

.ittakestwo-logo{
    width: 90%;
}

#new-game{
    background-color: #1f1f1f;
}

#psplus{
    background-color: #bebcbb;
}

.btn_white{
    background-color: rgba(255, 255, 255, .5);
}

#ps-now{
    background-color: #161c3b;
}

footer{
    background-color: #00439c;
}
.dropdown{
    position: static;
}

.dropdown-menu{
    width: 100vw;
    position: absolute;
    left: 0;
    border: none;
    border-radius: 0;
}
.dropdown-menu.show{
    margin-top: 0;
}

.dropdown-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.nav-link i{
    transition: .5s;
}

.nav-link:hover i {
    transform: rotate(180deg);
}

.point .dropdown-item::before{
    content: '\f192';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #00439c;
    margin-right: 1rem;
    font-size: 10px;
    vertical-align: middle;
}

