header{
    background-color: black;
}

.btn{
    border-radius: 3rem;
}

.btn_black{
    background-color: black;
    color: white;
}

.search{
    font-size: 25px;
    color: black;
}

#priority{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 700px;
}

.btn_red{
    background-color: #cd3d0f;
}

.btn_blue{
    background-color: #2d64e6;
    color: white;
}
.returnal-logo{
    width: 400px;
}

.card_game{
    border-radius: 2rem;
}

.text-blue{
    color: #3890d9;
}

.section-title{
    font-size: 50px;
    letter-spacing: 3px;
    margin: 1.5rem 0;
}

.section-subtitle{
    font-size: 25px;
}
.product-card{
    position: relative;
}

.product-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.product-card:hover::after{
    display: none;
}

.active{
    border-bottom: 4px solid #2d64e6;
}

#suggested{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
}

.ittakestwo-logo{
    width: 90%;
}

#new-game{
    background-color: #1f1f1f;
}

#psplus{
    background-color: #bebcbb;
}

.btn_white{
    background-color: rgba(255, 255, 255, .5);
}